

<div class="well">
  <form class="d-flex flex-column justify-content-center sweater-form" action="/code/add" method="post">
    <h2>Add a Code Snippet</h2>
    <input type="text" name="title" required placeholder="Code Snippet Title">
      <textarea type="textarea" name="body" required placeholder="Type your code here"></textarea>


    <input type="text" name="notes" placeholder="Enter notes here(optional)">
    <input type="text" name="language" required placeholder="Enter language">

    <input type="text" name="tag" placeholder="Tags(please separate with a comma)">
    <input class="btn btn-primary" type="submit" name="" value="Add Code Snippet">

  </form>
</div>
