


<div class="well">
  <form class="d-flex flex-column justify-content-center sweater-form" action="/code/add" method="post">
    <h2>Add a Code Snippet</h2>
    <input type="text" name="name" required placeholder="Code Snippet Title">
    <input type="test" name="body" required placeholder="Type your code here">
    <input type="text" name="notes" placeholder="Enter notes here(optional)">
    <input type="text" name="language" required placeholder="Enter language">
    <h2>Enter up to 5 tags below: </h2>
    <input type="text" name="tag" value="">
    <input type="text" name="tag" value="">
    <input type="text" name="tag" value="">
    <input type="text" name="tag" value="">
    <input type="text" name="tag" value="">
    <input class="btn btn-primary" type="submit" name="" value="Add Code Snippet">

  </form>
</div>
